@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  background-attachment: fixed;
  color: white;
  padding: 2rem;
  background-image: url(./img/bg.png);
} 

.heading {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.search-form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  padding: 10px 20px;
  background-color: #191515c2;
  border: none;
  color: white;
  font-weight: bold;
}

.search-button:focus {
  outline: none;
}

.search-button:hover {
  background-color: rgb(161, 76, 15);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

